# System files
.DS_Store

# Data files
*.txt
*.json
*.csv
*.png

# Executable files
filter
filter_cli/filter_cli*
api/api*
api_auto/api_auto
mail*

# Shell scripts
*.sh

# Directories to ignore
general/
archive/
api_auto/